  .ael-advanced-heading {
      position: relative;
      text-align: center;
      z-index: 1;
      &__title{
        font-size: 32px;
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: 0;
        background-clip: text;
        color: $color-primary;
      }
      &__subtitle{
        font-size: 16px;
        line-height: 1;
        color: $color-second;
      }
      &__desc{
        color: $color-third;
      }
      &__shadow {
          font-size: 49px;
          font-weight: bold;
          color: $gray-light;
          position: relative;
          background-clip: text;
      }
      &__before-shadow{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: -1;
          line-height: 1;
      }
  }