.ael-banner {
  height: 300px;
  background-color: #253155;

  &__inner {
    z-index: 9;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  &__body {
    max-width: 80%;
    padding: 30px;
    z-index: 9;
  }
  &__title {
    color: $color-base;
    font-size: 34px;
    line-height: 42px;
    a {
      color: $color-base;
    }
  }
  &__subtitle {
    color: $color-base;
  }
  &__content {
    color: $color-base;
  }
}
