.ael-headline{
  &__wrapper{
    font-size: 37px;
    line-height: 1.3em;
    color: $color-second;
  }
  &__regular{
    font-weight: 400;
  }
  &__value{
    font-weight: bold;
    color: $color-primary;
  }
}
