.ael-post {
  transition: 0.3s;
  position: relative;
  overflow: hidden;

  &__thumbnail {
    margin-bottom: 11px;
    img {
      transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    }
  }

  &__badges {
    margin-bottom: 7px;
    a {
      padding: 3px 6px;
      border-radius: 100px;
      font-size: 11px;
      line-height: 11px;
      background: $color-brand;
      color: $color-base;
      display: inline-block;
      margin-right: 3px;

      &:hover {
        color: $color-base;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;

    a {
      &:hover {
        color: $link-active;
      }
    }
  }

  &__meta {
    margin-bottom: 10px;
    margin-left: -7px;
    margin-right: -7px;

    &-item {
      color: $color-third;
      font-size: 12px;
      padding-left: 7px;
      padding-right: 7px;
      position: relative;

      i {
        margin-right: 5px;
      }

      &:hover {
        color: $color-second;
      }

      &:before {
        content: "";
        position: absolute;
        right: -4px;
        top: 2px;
        bottom: 2px;
        width: 2px;
        background: $border-color;
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }

  &__content {
    color: $color-second;
    margin-bottom: 8px;
    margin-bottom: 20px;
  }

}
.ael-post--list,
.ael-post--grid {
  .ael-post__badges {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
/*=================================================
*  POST LIST
=================================================== */

.ael-post--list {
  display: flex;
  flex-wrap: wrap;
  .ael-post {
    &__thumbnail {
      margin-bottom: 0;
      width: 120px;
      margin-right: 10px;
      @include media-min(md) {
        width: 240px;
      }

      @include media-min(lg) {
        width: 320px;
        margin-right: 15px;
      }
    }

    &__body {
      flex: 1;
    }

    &__title {
      @include media(md) {
        font-size: 18px;
        line-height: 1.3em;
      }
      @include media(sm) {
        font-size: 14px;
      }
    }

    &__content {
      @include media(sm) {
        display: none;
      }
    }
    &__readmore {
      @include media(sm) {
        display: none;
      }
    }
  }
}

/*=================================================
*  POST LIST MD
=================================================== */

.ael-post--list-medium {
  .ael-post {
    display: flex;

    &__thumbnail {
      @include media-min(lg) {
        width: 260px;
        margin-right: 15px;
      }
    }

    &__body {
      @include media-min(lg) {
        flex: 1;
      }
    }
  }
}

/*=================================================
*  POST LIST SM
=================================================== */

.ael-post--list-small {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .ael-post {
    &__title {
      margin-bottom: 3px;
      margin-top: 0;
      font-size: 14px;
      line-height: 1.5;
    }

    &__thumbnail {
      width: 100px;
      margin-bottom: 0;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }

    &__body {
      flex: 1;
    }
  }
}

/*=================================================
* POST TITLES
/*================================================= */

.ael-post--tiles {
  position: relative;
  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0) 0,
      rgba(16, 15, 15, 0.91) 89%,
      rgba(22, 12, 12, 0.93) 93%
    );
  }

  .ael-post {
    &__title {
      font-size: 18px;

      a {
        color: $color-base;
      }
    }

    &__meta {
      margin-bottom: 0;
      &-item {
        color: $color-light-second;

        &:before {
          background: $color-light-thirdty;
        }
      }
    }

    &__content {
      color: $color-light-second;
    }

    &__thumbnail {
      height: 242px;
      margin-bottom: 0;
      background-position: center center;
      background-size: cover;
      transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    }

    &__body {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 15px;
    }
  }

  &:hover {
    .ael-post {
      &__thumbnail {
        transform: scale(1.3);
      }
    }
  }
}

/*=================================================
* CARD
/*================================================= */

.ael-post--card {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  overflow: hidden;
  .ael-post {
    &__thumbnail {
      margin: 0;
    }

    &__body {
      padding: 20px 15px;
    }
  }
}

/*=================================================
* POST SMART TILES
/*================================================= */
$post-grid-height: 489px;
$post-grid-gap: 2px;

.ael-smart-tiles {
  @include media-min(sm) {
    display: flex;
    flex-flow: row wrap;
  }

  margin-left: -$post-grid-gap/2;
  margin-right: -$post-grid-gap/2;
  .flex-item {
    padding-left: $post-grid-gap/2;
    padding-right: $post-grid-gap/2;
    margin-bottom: $post-grid-gap;
    flex: auto;
  }

  &__main {
    @include media-min(sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ael-post__thumbnail {
      height: $post-grid-height + $post-grid-gap;
    }
    .ael-post__title {
      font-size: 27px;
      line-height: 1.3em;
    }
  }

  &__group {
    @include media-min(sm) {
      flex: 0 0 50%;
      max-width: 50%;
      display: flex;
      flex-flow: row wrap;
    }

    .flex-item {
      @include media-min(sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    .ael-post__thumbnail {
      height: $post-grid-height/2;
    }
  }
}

/*=================================================;
/* POST BLOCK
/*================================================= */
.ael-post-block {
  .flex-item {
    margin-bottom: 0;
  }
  &__main {
    .flex-item {
      margin-bottom: 30px;
    }
  }
  &__group {
    .ael-post__meta {
      margin-bottom: 0;
    }
  }
}

.ael-post-block--tiles {
  .ael-post--tiles {
    .ael-post__thumbnail {
      height: 390px;
    }
  }
}
