.ael-team {
    border: 1px solid $border-color;
    text-align: center;
    &__thumbnail {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    &__body {
        flex: 1;
    }
    &__name {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 16px;
        line-height: 24px;
    }
    &__position {
        margin-bottom: 5px;
    }
    &__content {
        margin-bottom: 10px;
    }
    &__body {
        padding: 15px;
        padding-top: 0;
    }
    .rt-socmed {
        justify-content: center;
        margin-bottom: 15px;
    }
}

.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
}