/*=================================================
*  GRID
=================================================== */
/*=================================================
*  BREAKPOINTS
=================================================== */
/*=================================================
*  CONTAINERS
=================================================== */
/*=================================================
*  FONT
=================================================== */
/* Font Weight */
/* Font Color*/
/* Font Color light */
/* Font Size */
/*=================================================
*  Default Color
=================================================== */
/*=================================================
*  Link Color
=================================================== */
/*=================================================
*  GRAY
=================================================== */
/*=================================================
*  DARK
=================================================== */
/*=================================================
*  BORDER
=================================================== */
/*=================================================
*  SOCIAL MEDIA
=================================================== */
/*=================================================
*  SHAWDOW
=================================================== */
/*=================================================;
/* BUTTON
/*================================================= */
/*=================================================;
/* BADGES
/*================================================= */
/*=================================================;
/* PAGINATION
/*================================================= */
/*=================================================
*  NAVBAR
=================================================== */
/*=================================================
*  SUBMENU LG
=================================================== */
/*=================================================
*  NAVBAR SMALL
=================================================== */
/*=================================================
*  NAVBAR FULL
=================================================== */
/*=================================================
*  NAVBAR SEARCH
=================================================== */
/*=======================================
* MEDIA MAX
*=======================================*/
/*=======================================
* MEDIA MIN
*=======================================*/
/*=======================================
* MEDIA ONLY
*=======================================*/
/*=======================================
* MEDIA RANGE
*=======================================*/
/*=======================================
* MANUAL BREAKPOINT
*=======================================*/
/*=================================================
*  GRID MIXIN
=================================================== */
.owl-carousel {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.owl-carousel.owl-loaded {
  opacity: 1;
}

.ael-slider__item {
  position: relative;
}

.ael-slider__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.ael-slider__main {
  position: relative;
}

.ael-slider__group {
  position: relative;
}

.ael-slider__thumbnail {
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.ael-slider__inner {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ael-slider__body {
  max-width: 80%;
  padding: 30px;
  z-index: 9;
}

.ael-slider__title {
  color: #fff;
  font-size: 34px;
  line-height: 42px;
}

.ael-slider__title a {
  color: #fff;
}

.ael-slider__subtitle {
  color: #fff;
}

.ael-slider__content {
  color: #fff;
}

.ael-slider__meta {
  color: #fff;
}

.ael-slider__nav a {
  z-index: 9;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 38px;
  min-width: 38px;
  text-align: center;
  background: #fff;
  color: #252525;
  border-radius: 3px;
  cursor: pointer;
}

.ael-slider__nav a:hover {
  color: #333;
}

.ael-slider__nav .is-disable {
  background-color: #333333;
  cursor: disable;
}

.ael-slider__prev {
  left: 10px;
}

.ael-slider__prev i {
  margin-left: 7px;
}

.ael-slider__next {
  right: 10px;
}

.ael-slider__next i {
  margin-right: 7px;
}

.ael-slider .owl-item>.flex-item {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

/*=================================================;
/* SLIDER THUMBNAIL
/*================================================= */
.ael-slider--thumbnail .ael-slider__group .owl-item {
  cursor: pointer;
}

.ael-slider--thumbnail .ael-slider__group .owl-item.is-current {
  position: relative;
}

.ael-slider--thumbnail .ael-slider__group .owl-item.is-current::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
}

.ael-slider--thumbnail .ael-slider__group .owl-item.is-current::after {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0;
  content: "";
  right: 0;
  left: 0;
  width: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 2;
}

/*=================================================;
/* NAVIGATION
/*================================================= */
.ael-slider .owl-nav .disabled {
  display: none;
}

.ael-slider .owl-next,
.ael-slider .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 38px;
  width: 38px;
  line-height: 42px;
  margin: 0;
  text-align: center;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.ael-slider .owl-next i,
.ael-slider .owl-prev i {
  color: #fff;
}

.ael-slider .owl-prev {
  left: 15px;
}

.ael-slider .owl-next {
  right: 15px;
}

/*=================================================;
/* PAGINATION
/*================================================= */
.ael-slider .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.ael-slider .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d3d3d3;
  display: block;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.ael-slider .owl-dots .owl-dot.active span {
  background: #007bff;
}

/* pagination insert wrapper*/
.ael-slider--pagination-inner .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.ael-header-block {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ael-header-block__title {
  margin: 0;
  font-size: 21px;
}

.ael-header-block__nav {
  margin-right: -3px;
}

.ael-header-block__nav a {
  background-color: #fff;
  display: inline-block;
  border: 1px solid #e4e7ec;
  border-radius: 3px;
  margin-right: 3px;
  line-height: 28px;
  width: 28px;
  text-align: center;
  color: #555;
}

.ael-header-block__nav a:hover {
  border-color: #007bff;
  color: #007bff;
}

.ael-header-block__nav a.is-disable,
.ael-header-block__nav a.swiper-button-disabled {
  background-color: #f8f9fa;
  cursor: default;
}

.ael-header-block__nav a.is-disable:hover,
.ael-header-block__nav a.swiper-button-disabled:hover {
  border-color: #e4e7ec;
  color: #555;
}

/*=================================================
* HEADER 1
/*================================================= */
.ael-header-block--style-1 {
  position: relative;
  border-bottom: 1px solid #e4e7ec;
}

.ael-header-block--style-1 .ael-header-block__title {
  margin-bottom: -1px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 2px solid #007bff;
}

/*=================================================
* HEADER 2
/*================================================= */
.ael-header-block--style-2 .ael-header-block__title {
  border-left: 5px solid #007bff;
  padding-left: 15px;
}

/*=================================================
* HEADER 3
/*================================================= */
.ael-header-block--style-3 {
  border-bottom: 2px solid #007bff;
}

.ael-header-block--style-3 .ael-header-block__title {
  margin-bottom: 0;
  color: #fff;
  display: inline-block;
  background: #007bff;
  padding: 5px 15px;
}

/*=================================================
* HEADER 4
/*================================================= */
.ael-header-block--style-4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ael-header-block--style-4 .ael-header-block__title {
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  border: 2px solid #e4e7ec;
  padding: 10px 20px;
}

.ael-header-block--style-4 .ael-header-block__nav {
  position: absolute;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ael-header-block--style-4:before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background-color: #e4e7ec;
}



.ael-badges {
  position: relative;
  margin-right: -5px;
  text-transform: uppercase;
}

.ael-badges a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  line-height: 1;
  font-size: 11px;
}

.ael-badges a:hover {
  color: #fff;
  background: #3395ff;
}

/*=================================================
*  LINK MIXIN
=================================================== */
.ael-advanced-heading {
  position: relative;
  text-align: center;
  z-index: 1;
}

.ael-advanced-heading__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0;
  background-clip: text;
  color: #252525;
}

.ael-advanced-heading__subtitle {
  font-size: 16px;
  line-height: 1;
  color: #333;
}

.ael-advanced-heading__desc {
  color: #555;
}

.ael-advanced-heading__shadow {
  font-size: 49px;
  font-weight: bold;
  color: #f8f9fa;
  position: relative;
  background-clip: text;
}

.ael-advanced-heading__before-shadow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  line-height: 1;
}

.ael-banner {
  height: 300px;
  background-color: #253155;
}

.ael-banner__inner {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ael-banner__body {
  max-width: 80%;
  padding: 30px;
  z-index: 9;
}

.ael-banner__title {
  color: #fff;
  font-size: 34px;
  line-height: 42px;
}

.ael-banner__title a {
  color: #fff;
}

.ael-banner__subtitle {
  color: #fff;
}

.ael-banner__content {
  color: #fff;
}

.ael-cf7 br {
  display: none;
}

.ael-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row wrap;
  -ms-flex-positive: row wrap;
  flex-grow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ael-countdown__item {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #e4e7ec;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}

.ael-countdown__item:last-child {
  margin-right: 0;
}

.ael-countdown__title {
  color: #333;
}

.ael-countdown__number {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 0;
}

.ael-cta {
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.ael-cta__overtext {
  display: block;
}

.ael-cta__title {
  margin-bottom: 10px;
}

.ael-cta__subtitle {
  margin-bottom: 10px;
}

.ael-cta__content {
  margin-bottom: 10px;
}

.ael-cta__button .rt-btn:first-child {
  margin-right: 10px;
}

.ael-headline__wrapper {
  font-size: 37px;
  line-height: 1.3em;
  color: #333;
}

.ael-headline__regular {
  font-weight: 400;
}

.ael-headline__value {
  font-weight: bold;
  color: #252525;
}

.ael-img-box__thumbnail {
  margin: 0 auto;
}

.ael-portfolio {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.ael-portfolio__thumbnail {
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.ael-portfolio__thumbnail img {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.ael-portfolio__body {
  padding: 10px 0;
}

.ael-portfolio__title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.ael-portfolio__title a {
  color: #252525;
}

.ael-portfolio__category {
  margin-left: -5px;
  margin-right: -5px;
  font-size: 12px;
}

.ael-portfolio__category a {
  position: relative;
  color: #555;
  padding: 0 5px;
}

.ael-portfolio__category a:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background: #333;
  border-radius: 100px;
  right: -3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ael-portfolio__category a:last-child:before {
  display: none;
}

.ael-portfolio__action {
  margin-left: -5px;
  margin-right: -5px;
}

.ael-portfolio__action a {
  padding: 3px 10px;
  background-color: #222222;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  margin-right: 5px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.5s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.5s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.5s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
}

.ael-portfolio__action a:hover {
  background: #007bff;
  color: #fff;
}

.ael-portfolio__action a:last-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.ael-portfolio__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ael-portfolio:hover .ael-portfolio__overlay {
  visibility: visible;
}

.ael-portfolio:hover .ael-portfolio__action a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/*=================================================;
/* OVERLAY
/*================================================= */
.ael-portfolio--overlay .ael-portfolio__title {
  margin-top: 10px;
}

.ael-portfolio--overlay .ael-portfolio__title,
.ael-portfolio--overlay .ael-portfolio__category {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.5s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.5s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.5s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ael-portfolio--overlay .ael-portfolio__category {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.ael-portfolio--overlay .ael-portfolio__category a {
  color: #252525;
}

.ael-portfolio--overlay:hover .ael-portfolio__thumbnail img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.ael-portfolio--overlay:hover .ael-portfolio__title,
.ael-portfolio--overlay:hover .ael-portfolio__category {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transform: 0;
  transform: 0;
}

/*=================================================;
/* OVERLAY
/*================================================= */
.ael-portfolio--transform .ael-portfolio {
  overflow: hidden;
}

.ael-portfolio--transform .ael-portfolio__thumbnail {
  margin-bottom: 0;
}

.ael-portfolio--transform .ael-portfolio__title,
.ael-portfolio--transform .ael-portfolio__category {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.4s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.4s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: opacity 0.4s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.ael-portfolio--transform .ael-portfolio__category {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ael-portfolio--transform .ael-portfolio__body {
  position: absolute;
  padding: 10px 10px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
}

.ael-portfolio--transform .ael-portfolio__overlay {
  display: none;
}

.ael-portfolio--transform:hover .ael-portfolio__body {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  left: 5px;
  bottom: 5px;
  right: 5px;
}

.ael-portfolio--transform:hover .ael-portfolio__thumbnail img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.ael-portfolio--transform:hover .ael-portfolio__title,
.ael-portfolio--transform:hover .ael-portfolio__category {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transform: 0;
  transform: 0;
}

.ael-post {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.ael-post__thumbnail {
  margin-bottom: 11px;
}

.ael-post__thumbnail img {
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
}

.ael-post__badges {
  margin-bottom: 7px;
}

.ael-post__badges a {
  padding: 3px 6px;
  border-radius: 100px;
  font-size: 11px;
  line-height: 11px;
  background: #007bff;
  color: #fff;
  display: inline-block;
  margin-right: 3px;
}

.ael-post__badges a:hover {
  color: #fff;
}

.ael-post__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 3px;
}

.ael-post__title a:hover {
  color: #3483de;
}

.ael-post__meta {
  margin-bottom: 10px;
  margin-left: -7px;
  margin-right: -7px;
}

.ael-post__meta-item {
  color: #555;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
}

.ael-post__meta-item i {
  margin-right: 5px;
}

.ael-post__meta-item:hover {
  color: #333;
}

.ael-post__meta-item:before {
  content: "";
  position: absolute;
  right: -4px;
  top: 2px;
  bottom: 2px;
  width: 2px;
  background: #e4e7ec;
}

.ael-post__meta-item:last-child:before {
  display: none;
}

.ael-post__content {
  color: #333;
  margin-bottom: 8px;
  margin-bottom: 20px;
}

.ael-post--list .ael-post__badges,
.ael-post--grid .ael-post__badges {
  position: absolute;
  top: 5px;
  left: 5px;
}

/*=================================================
*  POST LIST
=================================================== */
.ael-post--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ael-post--list .ael-post__thumbnail {
  margin-bottom: 0;
  width: 120px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .ael-post--list .ael-post__thumbnail {
    width: 240px;
  }
}

@media screen and (min-width: 992px) {
  .ael-post--list .ael-post__thumbnail {
    width: 320px;
    margin-right: 15px;
  }
}

.ael-post--list .ael-post__body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .ael-post--list .ael-post__title {
    font-size: 18px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 576px) {
  .ael-post--list .ael-post__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .ael-post--list .ael-post__content {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .ael-post--list .ael-post__readmore {
    display: none;
  }
}

/*=================================================
*  POST LIST MD
=================================================== */
.ael-post--list-medium .ael-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  .ael-post--list-medium .ael-post__thumbnail {
    width: 260px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .ael-post--list-medium .ael-post__body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

/*=================================================
*  POST LIST SM
=================================================== */
.ael-post--list-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.ael-post--list-small .ael-post__title {
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.5;
}

.ael-post--list-small .ael-post__thumbnail {
  width: 100px;
  margin-bottom: 0;
  margin-right: 10px;
}

.ael-post--list-small .ael-post__thumbnail img {
  width: 100%;
}

.ael-post--list-small .ael-post__body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*=================================================
* POST TITLES
/*================================================= */
.ael-post--tiles {
  position: relative;
}

.ael-post--tiles:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(22, 12, 12, 0.93) 93%);
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(22, 12, 12, 0.93) 93%);
}

.ael-post--tiles .ael-post__title {
  font-size: 18px;
}

.ael-post--tiles .ael-post__title a {
  color: #fff;
}

.ael-post--tiles .ael-post__meta {
  margin-bottom: 0;
}

.ael-post--tiles .ael-post__meta-item {
  color: rgba(255, 255, 255, 0.6);
}

.ael-post--tiles .ael-post__meta-item:before {
  background: rgba(255, 255, 255, 0.28);
}

.ael-post--tiles .ael-post__content {
  color: rgba(255, 255, 255, 0.6);
}

.ael-post--tiles .ael-post__thumbnail {
  height: 242px;
  margin-bottom: 0;
  background-position: center center;
  background-size: cover;
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
  transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
}

.ael-post--tiles .ael-post__body {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.ael-post--tiles:hover .ael-post__thumbnail {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*=================================================
* CARD
/*================================================= */
.ael-post--card {
  border: 1px solid #e4e7ec;
  border-radius: 3px;
  overflow: hidden;
}

.ael-post--card .ael-post__thumbnail {
  margin: 0;
}

.ael-post--card .ael-post__body {
  padding: 20px 15px;
}

/*=================================================
* POST SMART TILES
/*================================================= */
.ael-smart-tiles {
  margin-left: -1px;
  margin-right: -1px;
}

@media screen and (min-width: 576px) {
  .ael-smart-tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

.ael-smart-tiles .flex-item {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 2px;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

@media screen and (min-width: 576px) {
  .ael-smart-tiles__main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.ael-smart-tiles__main .ael-post__thumbnail {
  height: 491px;
}

.ael-smart-tiles__main .ael-post__title {
  font-size: 27px;
  line-height: 1.3em;
}

@media screen and (min-width: 576px) {
  .ael-smart-tiles__group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 576px) {
  .ael-smart-tiles__group .flex-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.ael-smart-tiles__group .ael-post__thumbnail {
  height: 244.5px;
}

/*=================================================;
/* POST BLOCK
/*================================================= */
.ael-post-block .flex-item {
  margin-bottom: 0;
}

.ael-post-block__main .flex-item {
  margin-bottom: 30px;
}

.ael-post-block__group .ael-post__meta {
  margin-bottom: 0;
}

.ael-post-block--tiles .ael-post--tiles .ael-post__thumbnail {
  height: 390px;
}

.ael-price-table {
  border-radius: 3px;
  border: 1px solid #e4e7ec;
  text-align: center;
}

.ael-price-table__header {
  padding: 25px 0;
  background-color: #007bff;
  color: #fff;
  margin: -2px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.ael-price-table__ribbon {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 150px;
  overflow: hidden;
  height: 150px;
}

.ael-price-table__ribbon-inner {
  background-color: #f62323;
  text-align: center;
  left: 0;
  width: 200%;
  -webkit-transform: translateY(-10%) translateX(-50%) translateX(35px) rotate(-45deg);
  transform: translateY(-10%) translateX(-50%) translateX(35px) rotate(-45deg);
  margin-top: 25px;
  font-size: 12px;
  line-height: 2;
  font-weight: 800;
  text-transform: uppercase;
}

.ael-price-table__title {
  font-size: 21px;
  line-height: 1.3em;
  font-weight: bold;
}

.ael-price-table__subtitle {
  font-size: 17px;
  line-height: 1.3em;
}

.ael-price-table__price {
  font-size: 43px;
  line-height: 1em;
  font-weight: 700;
}

.ael-price-table__price-wrapper {
  position: relative;
  padding: 15px;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  align-items: self-start;
}

.ael-price-table__original-price {
  text-decoration: line-through;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.ael-price-table__after-price {
  line-height: 1em;
  font-weight: 700;
}

.ael-price-table__currency {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 18px;
  font-weight: 700;
  margin-right: 3px;
}

.ael-price-table__priod {
  width: 100%;
}

.ael-price-table__featured {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}

.ael-price-table__featured li {
  margin: 0 !important;
  list-style: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e7ec;
  margin: 0;
}

.ael-price-table__featured li:last-child {
  border-color: transparent;
}

.ael-price-table__featured i {
  margin-right: 3px;
}

.ael-price-table__featured .is-disable {
  color: #555;
}

.ael-price-table__footer {
  padding: 15px;
  background: #f8f9fa;
}

.ael-price-table__footer .rt-btn {
  margin: 0;
}

.ael-price-table__footer p {
  margin-top: 10px;
  font-size: 12px;
}

.ael-cat-box {
  position: relative;
}

.ael-cat-box__thumbnail {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.ael-cat-box__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.ael-team {
  margin-bottom: 30px;
  border: 1px solid #e4e7ec;
  text-align: center;
}

.ael-team__thumbnail {
  margin: 0 auto;
  margin-bottom: 5px;
}

.ael-team__body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ael-team__name {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
}

.ael-team__position {
  margin-bottom: 5px;
}

.ael-team__content {
  margin-bottom: 10px;
}

.ael-team__body {
  padding: 15px;
  padding-top: 0;
}

.ael-team .rt-socmed {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}

.wpcf7-form-control:not(.wpcf7-submit) {
  width: 100%;
}

.ael-testimonial {
  margin: 0 auto;
}

.ael-testimonial__thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.ael-testimonial__thumbnail img {
  width: 80px !important;
  height: 80px !important;
}

.ael-testimonial__name {
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.ael-testimonial__position {
  font-size: 12px;
  line-height: 12px;
}

.ael-testimonial__content {
  margin-bottom: 20px;
  text-align: center;
}

.ael-testimonial__profile {
  margin: 0 auto;
  text-align: center;
}

.ael-testimonial--tooltip .ael-testimonial__content {
  border-radius: 3px;
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid #e4e7ec;
  padding: 15px;
  margin-bottom: 20px;
}

.ael-testimonial--tooltip .ael-testimonial__content:before {
  position: absolute;
  bottom: -7px;
  left: 50%;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #e4e7ec;
  border-top: none;
  border-left: none;
  background-color: #f8f9fa;
  content: "";
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ael-testimonial--card {
  border-radius: 3px;
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid #e4e7ec;
  padding: 15px;
}

/* MENU */
.ael-menu {
  display: flex;
}

.ael-menu ul,
.ael-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ael-menu--vertical {
  display: flex;
  justify-content: center;
}

.ael-menu--vertical ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row wrap;
}

.ael-menu--vertical ul li {
  padding: 5px 12px;
}